<!DOCTYPE html>
<html {%- if site.language %} lang="{{ site.language }}" {%- endif %}>

<head>
  {% block head %} {% include ['custom/head.html', 'head.html'] ignore missing %} {% endblock %}
</head>

<body>

<header id="header" class="clearfix">
  <div class="container-fluid">
    <div class="row">
      {% include ['custom/header.html', 'header.html'] ignore missing %}
    </div>
  </div>
</header>

{% block main %}{% endblock %}

<footer id="footer" role="contentinfo">
  <div class="container-fluid">
    <div class="row">
      {% include ['custom/footer.html', 'footer.html'] ignore missing %}
    </div>
  </div>
</footer>

{% block foot %}
  {% include ['custom/foot.html', 'foot.html'] ignore missing %}
{% endblock %}

</body>

</html>